/* VARIABLES */

:root {

    /* colors */
    
    --clr-base: hsl(246, 28%, 7%);
    --clr-base-lt: hsl(246, 28%, 11%);
    --clr-base-dk: hsl(246, 28%, 5%);

    --clr-primary: #ff8800;
    --clr-primary-lt: hsl(32, 100%, 60%);
    --clr-primary-ltr: hsl(32, 100%, 75%);
    --clr-primary-dk: hsl(32, 100%, 40%);
    --clr-primary-dkr: hsl(32, 100%, 25%);

    --clr-secondary: #f15e4b;
    --clr-secondary-lt: hsl(7, 86%, 72%);
    --clr-secondary-ltr: hsl(7, 86%, 85%);
    --clr-secondary-dk: hsl(7, 86%, 52%);
    --clr-secondary-dkr: hsl(7, 86%, 35%);

    --clr-tertiary: #e63371;

    --clr-ntrl: #a7a9be;
    --clr-ntrl-lt: hsl(235, 15%, 92%);
    --clr-ntrl-dk: black;

    --bg-opacity: 15%;

    /* font families */

    --ff-h: "Poppins", sans-serif;
    --ff-p: "DM Sans", sans-serif;

    /* font sizing */

    --fs-base: clamp(0.6rem, 1.5vw, 1.2rem);
    
    --fs-s: calc(var(--fs-base) * 0.8);
    --fs-l: calc(var(--fs-base) * 1.2);

    --fs-h1: clamp(1.8rem, 5.6vw, 6.9rem);
    --fs-h2: clamp(1.7rem, 3vw, 5rem);
    --fs-h3: clamp(1.2rem, 2vw, 4rem);
    --fs-h4:  clamp(0.6rem, 1.5vw, 1.2rem);
    --fs-button: clamp(0.6rem, 1vw, 1.4rem);
    --fs-nav: calc(var(--header-height) * 0.35);

    /* font weight */
  
    --fw-p: 400;
    --fw-h1: 700;
    --fw-h2: 700;
    --fw-h3: 600;
    --fw-h4: 400;
    --fw-thin: 200;


    /* layout */

    --max-content-width: min(82vw, 100rem);
    --section-padding-block: min(10vh, 40rem);
    
    --spacer-s: calc(var(--max-content-width) * 0.02);
    --spacer-m: calc(var(--spacer-s)*2);
    --spacer-l: calc(var(--spacer-s)*3);

    --header-height: clamp(2.5rem, 6vh, 4rem);

    /* styling */

    --shadow: -0.1em 0.1em 0.1em var(--clr-ntrl-dk);
    --border-clr: var(--clr-ntrl-lt);
    --border-weight: 0.07rem;
    --border-radius: 0.2rem;

    --button-h: 3em;

    --icon-size: calc(var(--header-height) * 0.4);
}


/* BASE STYLING */

h1, h2, h3, h4 {
    font-family: var(--ff-h);
    color: var(--clr-ntrl-lt);
}

h1, h2, h3, h4 {
    text-shadow: var(--shadow);
}

h1 {
    font-size: var(--fs-h1);
    font-weight: var(--fw-h1);
}

h2 {
    font-size: var(--fs-h2);
    font-weight: var(--fw-h2);
    margin-bottom: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
    font-weight: var(--fw-h3);
    margin-bottom: var(--fs-h3);
}

h4 {
    font-size: var(--fs-h4);
    font-weight: var(--fw-h4);
    margin-bottom: var(--fs-h4);
}

p, a, li {
    font-family: var(--ff-p);
    color: var(--clr-ntrl);
    font-size: var(--fs-base);
    font-weight: var(--fw-p);
}

body {
    background-color: var(--clr-base);
}

section {
    padding-block: var(--section-padding-block);
}

header {
    height: var(--header-height);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
}

nav p, nav a {
    font-family: var(--ff-h);
}

main {
    position: relative;
    top: var(--header-height);
    z-index: 1;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

/* FONT CLASSES */

.fc-p {
    color: var(--clr-ntrl);
}

.fc-h {
    color: var(--clr-base-lt);
}

.fc-primary {
    color: var(--clr-primary);
}

.fc-secondary {
    color: var(--clr-secondary);
}

.fc-tertiary {
    color: var(--clr-tertiary);
}

.ff-p {
    font-family: var(--ff-p);
    font-weight: var(--fw-p);
}

.ff-h {
    font-family: var(--ff-h);
    font-weight: var(--fw-h3);
}

.em-italic {
    font-style: italic;
}

.fs-base {
    font-size: var(--fs-base);
    font-weight: var(--fw-p);
}

.fs-h1 {
    font-size: var(--fs-h1);
}

.fs-h2 {
    font-size: var(--fs-h2);
}

.fs-h3 {
    font-size: var(--fs-h3);
}

.fs-h4 {
    font-size: var(--fs-h4);
}

.fw-h1 {
    font-weight: var(--fw-h1);
}

.fw-h2 {
    font-weight: var(--fw-h2);
}

.fw-h3 {
    font-weight: var(--fw-h3);
}

.fw-h4 {
    font-weight: var(--fw-h4);
}


/* OTHER STYLING CLASSES */

.bgc-base {
    background-color: var(--clr-base);
}

.bgc-lt {
    background-color: var(--clr-base-lt);
}

.bgc-dk {
    background-color: var(--clr-base-dk);
}

.fs-shadow {
    text-shadow: var(--shadow);
}

.bg-shadow {
    box-shadow: var(--shadow);
}

.contain-width {
    max-width: var(--max-content-width);
}

.button {
    font-family: var(--ff-h);
    font-weight: var(--fw-thin);
    color: var(--clr-primary);
    border: var(--border-weight) solid var(--clr-primary);
    border-radius: var(--border-radius);
    text-align: center;
    box-shadow: var(--shadow);
    font-size: var(--fs-button);
    display: block;
    height: var(--button-h);
    line-height: calc(var(--button-h) - (var(--border-weight)*2));
}

.together {
    white-space: nowrap;
}

.box {
    background-color: var(--clr-base-lt);
    padding: var(--spacer-s);
    border-radius: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER */

#mobile-menu {
    display: none;
}

nav.header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header div,
.header ul,
.header .icons a,
.header li {
    display: flex;
    align-items: center;
}

.header div.logo {
    margin-left: min(calc(var(--header-height)/2), 5vw);
}

.header .logo img {
    height: calc(var(--header-height) * 0.6);
}

.header .logo p {
    font-size: var(--fs-nav);
    font-weight: var(--fw-h3);
    margin-left: 0.1em;
    color: var(--clr-ntrl-lt);
}

.header ul.links {
    margin-right: calc(var(--header-height)/2);
}

.header .links li {
  margin-right: 1.5em;
}

.header .links a {
    font-size: calc(var(--fs-nav) * 0.8);
    font-weight: var(--fw-thin);
}

.header .icons li {
    margin-right: 0;
}

header .icons i {
    font-size: var(--icon-size);
}

.header .icons li.github {
    margin-left: calc(var(--header-height)/6);
}


@media screen and (max-width: 39em) {
    
    li.desktop,
    p.desktop {
        display: none;
    }

    #mobile-menu {
        display:block;
        color: #a7a9be;
        margin-right: min(calc(var(--header-height)/2), 5vw);
        font-size: calc(var(--header-height) * 0.7);
    }
    
    nav.header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .header div {
        justify-self: left;
    }

    .header ul{
        grid-column: 2;
        justify-self: center;
    }

    .header span {
        justify-self: right;
    }

    .header ul.links {
        margin-right: 0;
    }

    .header li.linkedin {
        margin-right: min(calc(var(--header-height)/2), 5vw);
    }
}



/* MAIN */

div.main.container {
    width: var(--max-content-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "banner"
                         "about" 
                         "skills"
                         "projects"
                         "contact";
}


/* BANNER */

section#banner {
    grid-area: banner;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    min-height: calc(100vh - var(--header-height));
    z-index: 1;
}

#banner h1,
#banner nav {
    z-index: 3;
}

#banner h1 {
    font-size: var(--fs-base);
}

#banner .hi {
    font-weight: var(--fw-p);
    position: relative;
    left: calc(var(--fs-h1)*0.03);
    bottom: calc(var(--fs-h1)*0.1);
}

nav.banner{
    margin-top: calc(var(--fs-h1)*0.6);
}

#banner ul {
    display: flex;
    margin-left: calc(var(--fs-h1)*0.05);
}

#banner .button {
    width: 10em;
    margin-right: calc(var(--button-h)/2);
}

nav.banner,
h1.banner {
    position: relative;
    bottom: calc(var(--header-height) / 2);
}

#banner img {

    --banner-img-size: max(30vh, calc(var(--max-content-width)*0.5));


    width: var(--banner-img-size);
    max-width: 70vw;
    max-height: 80vh;
    object-fit: contain;
    opacity: var(--bg-opacity);
    position: absolute;
    left: calc(50% + var(--max-content-width)
     * 0.45 - min(70vw, var(--banner-img-size)));
    z-index: 2;
}


/* ABOUT */

section#about {
    grid-area: about;
    --icon-element-size: max(8vh, calc(var(--max-content-width) * 0.07));
}

#about h2 {
    margin-bottom: var(--fs-h2);
}

#about div.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about article.info,
#about article.other {
    display: flex;
    flex-direction: column;
}

#about article.other {
    text-align: center;
}

#about article.info {

    margin-right: calc(var(--max-content-width)*0.05);
}

#about .info h3 {
    margin-bottom: var(--fs-h3);
}

#about .info p {
    max-width: 27em;
    text-align: justify;
    align-self: center;
}


#about .other ul,
#about .other h4 {
    opacity: 100%;
}


#about .other ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#about .other li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--icon-element-size);
    height: var(--icon-element-size);
}

#about .other li span {
    font-size: calc(var(--icon-element-size) * 0.5);
    margin-bottom: calc(var(--icon-element-size) * 0.05);
    color: var(--clr-primary);
}

#about .other li p {
    font-size: calc(var(--icon-element-size) * 0.15);
}

@media screen and (max-width: 45em) {

    #about div.content {
        flex-direction: column;
        justify-content: flex-start;
    }

    #about h3 {
        text-align: center;
    }

    #about article.info {
        margin-right: 0;
    }

    #about article.other {
        margin-top: var(--fs-h3);
    }
}

/* SKILLS */

section#skills {
    
    --icon-element-size: max(8vh, calc(var(--max-content-width) * 0.1));
    
    grid-area: skills;

}

#skills div.skills-holder {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#skills div.skills-holder.learning {
    justify-content:flex-start;
    text-align: left;
    margin-top: var(--spacer-l);
}

#skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skills li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--icon-element-size);
    height: var(--icon-element-size);
}

#skills div.languages {
    --icon-element-size: max(9vh, calc(var(--max-content-width) * 0.08));
}

#skills div.other {
    --icon-element-size: max(9vh, calc(var(--max-content-width) * 0.08));
}

#skills div.learning.box {
    --icon-element-size: max(7vh, calc(var(--max-content-width) * 0.05));
    margin-left: var(--spacer-m);
}

#skills li i {
    font-size: calc(var(--icon-element-size) * 0.5);
    margin-bottom: calc(var(--icon-element-size) * 0.05);
    color: var(--clr-tertiary);
}

#skills li p {
    font-size: calc(var(--icon-element-size) * 0.15);
}

#skills h3.learning {
    margin-top: var(--fs-h3);
}

#skills div.languages {
    margin-right: var(--spacer-m);
}

#skills .languages i {
    color: var(--clr-primary);
}

#skills .other i {
    color: var(--clr-secondary);
}

#skills .learning i {
    color: var(--clr-tertiary);
}

@media screen and (max-width: 45em) {
    #skills div.skills-holder.learning {
        flex-direction: column;
        margin-top: 0;
    }
}

/* PROJECTS */

section#projects {
    grid-area: projects;
}

/* CONTACT */

section#contact {
    grid-area: contact;
}




