/* VARIABLES */

:root {

    /* colors */
    
    --clr-base: hsl(246, 28%, 7%);
    --clr-base-lt: hsl(246, 28%, 11%);
    --clr-base-dk: hsl(246, 28%, 5%);
    --clr-base-xlt: hsl(246, 40%, 60%);

    --clr-primary: #ff8800;
    --clr-primary-lt: hsl(32, 100%, 60%);
    --clr-primary-ltr: hsl(32, 100%, 75%);
    --clr-primary-dk: hsl(32, 100%, 40%);
    --clr-primary-dkr: hsl(32, 100%, 25%);

    --clr-secondary: #f15e4b;
    --clr-secondary-lt: hsl(7, 86%, 72%);
    --clr-secondary-ltr: hsl(7, 86%, 85%);
    --clr-secondary-dk: hsl(7, 86%, 52%);
    --clr-secondary-dkr: hsl(7, 86%, 35%);

    --clr-tertiary: #e63371;

    --clr-ntrl: #a7a9be;
    --clr-ntrl-lt: hsl(235, 15%, 92%);
    --clr-ntrl-dk: black;

    --clr-overlay: #ff88005d;

    --bg-opacity: 15%;

    /* font families */

    --ff-h: "Poppins", sans-serif;
    --ff-p: "DM Sans", sans-serif;

    /* font sizing */

    --fs-base: clamp(0.6rem, 1.3vw, 1.2rem);
    
    --fs-s: calc(var(--fs-base) * 0.8);
    --fs-l: calc(var(--fs-base) * 1.2);

    --fs-h1: clamp(1.8rem, 5.6vw, 6.9rem);
    --fs-h2: clamp(1.7rem, 4vw, 5rem);
    --fs-h3: clamp(1.2rem, 2vw, 2.5rem);
    --fs-h4:  clamp(0.7rem, 1.5vw, 1.2rem);
    --fs-button: clamp(0.6rem, 1.2vw, 1.4rem);
    --fs-nav: calc(var(--header-height) * 0.35);

    /* font weight */
  
    --fw-p: 400;
    --fw-h1: 700;
    --fw-h2: 700;
    --fw-h3: 600;
    --fw-h4: 400;
    --fw-thin: 200;


    /* layout */

    --max-content-width: min(82vw, 100rem);
    --section-padding-block: min(20vh, 40rem);
    --max-central-width: min(var(--max-content-width), 70rem);
    
    
    --spacer-s: calc(var(--max-content-width) * 0.02);
    --spacer-m: calc(var(--spacer-s)*2);
    --spacer-l: calc(var(--spacer-s)*3);

    --header-height: clamp(2.5rem, 6vh, 4rem);

    /* styling */

    --shadow: -0.1em 0.1em 0.1em var(--clr-ntrl-dk);
    --border-clr: var(--clr-ntrl-lt);
    --border-weight: 0.07rem;
    --border-radius: 0.2rem;

    --button-h: 3em;

    --icon-size: calc(var(--header-height) * 0.4);
}


/* BASE STYLING */

h1, h2, h3, h4 {
    font-family: var(--ff-h);
    color: var(--clr-ntrl-lt);
}

h1, h2, h3, h4 {
    text-shadow: var(--shadow);
}

h1 {
    font-size: var(--fs-h1);
    font-weight: var(--fw-h1);
}

h2 {
    font-size: var(--fs-h2);
    font-weight: var(--fw-h2);
    margin-bottom: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
    font-weight: var(--fw-h3);
    margin-bottom:calc(var(--fs-h3)*1.5);
}

h4 {
    font-size: var(--fs-h4);
    font-weight: var(--fw-h4);
    margin-bottom: var(--fs-h4);
}

p, a, li {
    font-family: var(--ff-p);
    color: var(--clr-ntrl);
    font-size: var(--fs-base);
    font-weight: var(--fw-p);
}

body {
    background-color: var(--clr-base);
}

section {
    padding-block: var(--section-padding-block);
}

header {
    height: var(--header-height);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
}

header p, header a {
    font-family: var(--ff-h);
}

main {
    position: relative;
    top: var(--header-height);
    z-index: 1;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

/* FONT CLASSES */

.fc-p {
    color: var(--clr-ntrl);
}

.fc-h {
    color: var(--clr-ntrl-lt);
}

.fc-primary {
    color: var(--clr-primary);
}

.fc-secondary {
    color: var(--clr-secondary);
}

.fc-tertiary {
    color: var(--clr-tertiary);
}

.ff-p {
    font-family: var(--ff-p);
    font-weight: var(--fw-p);
}

.ff-h {
    font-family: var(--ff-h);
    font-weight: var(--fw-h3);
}

.em-italic {
    font-style: italic;
}

.fs-base {
    font-size: var(--fs-base);
    font-weight: var(--fw-p);
}

.fs-h1 {
    font-size: var(--fs-h1);
}

.fs-h2 {
    font-size: var(--fs-h2);
}

.fs-h3 {
    font-size: var(--fs-h3);
}

.fs-h4 {
    font-size: var(--fs-h4);
}

.fw-h1 {
    font-weight: var(--fw-h1);
}

.fw-h2 {
    font-weight: var(--fw-h2);
}

.fw-h3 {
    font-weight: var(--fw-h3);
}

.fw-h4 {
    font-weight: var(--fw-h4);
}


/* OTHER STYLING CLASSES */

.bgc-base {
    background-color: var(--clr-base);
}

.bgc-lt {
    background-color: var(--clr-base-lt);
}

.bgc-dk {
    background-color: var(--clr-base-dk);
}

.fs-shadow {
    text-shadow: var(--shadow);
}

.bg-shadow {
    box-shadow: var(--shadow);
}

.contain-width {
    max-width: var(--max-content-width);
}

.button {
    font-family: var(--ff-h);
    font-weight: var(--fw-thin);
    color: var(--clr-tertiary);
    border: var(--border-weight) solid var(--clr-tertiary);
    border-radius: var(--border-radius);
    text-align: center;
    box-shadow: var(--shadow);
    font-size: var(--fs-button);
    display: block;
    height: var(--button-h);
    line-height: calc(var(--button-h) - (var(--border-weight)*2));
}

.together {
    white-space: nowrap;
}

.box {
    background-color: var(--clr-base-lt);
    padding: var(--spacer-s);
    border-radius: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noselect {
    user-select: none;
}

/* HEADER */

#mobile-menu,
#mobile-menu-open,
#mobile-menu-expanded * {
    display: none;
}

header {
    height: var(--header-height);
}

nav.header {
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header div,
.header div a,
.header ul,
.header .icons a,
.header li {
    display: flex;
    align-items: center;
}

.header div.logo {
    margin-left: min(calc(var(--header-height)/2), 5vw);
}

.header .logo img {
    height: calc(var(--header-height) * 0.5);
    opacity: 90%;
}

.header .logo p {
    font-size: var(--fs-nav);
    font-weight: var(--fw-h3);
    margin-left: 0.1em;
    color: var(--clr-ntrl-lt);
}

header ul.links {
    margin-right: calc(var(--header-height)/2);
}

header .links li {
    margin-right: 1.5em;
}

header .links a {
    font-size: calc(var(--fs-nav) * 0.8);
    font-weight: var(--fw-thin);
}

.header .icons li {
    margin-right: 0;
}

header .icons i {
    font-size: var(--icon-size);
}

header li a,
header li i {
    color: var(--clr-ntrl-lt);
}

.header .icons li.github {
    margin-left: calc(var(--header-height)/6);
}

/* header pseudo classes */

header * {
    user-select: none;
}

header p,
header a,
header i {
    transition: color 0.7s;
}

header a:hover > p.desktop {
    color: var(--clr-secondary);
}

header a:hover {
    color: var(--clr-primary);
}

header a:hover > i {
    color: var(--clr-tertiary);
}

header a:active > p.desktop {
    color: var(--clr-primary);
    transition: color 0.1s;
}

header .header .links a:active {
    color: var(--clr-tertiary);
    transition: color 0.1s;
}

header a:active > i {
    color: var(--clr-secondary);
    transition: color 0.1s;
}


@media screen and (max-width: 39em) {
    
    li.desktop,
    p.desktop {
        display: none;
    }

    #mobile-menu {
        display:block;
        color: var(--clr-ntrl-lt);
        margin-right: min(calc(var(--header-height)/2), 5vw);
        font-size: calc(var(--header-height) * 0.7);
        transition: color 0.7s;
        position: absolute;

    }
    
    nav.header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .header div {
        justify-self: left;
    }

    .header ul{
        grid-column: 2;
        justify-self: center;
    }

    .header span {
        justify-self: right;
    }

    .header ul.links {
        margin-right: 0;
    }

    .header li.linkedin {
        margin-right: min(calc(var(--header-height)/2), 5vw);
    }

    header {
        transition: height 0.5s;
    }

  
    #mobile-menu-expanded {
        width: 100%;
        height: 50%;
    }

    #mobile-menu-expanded * {
        display: block;
    }
    
    #mobile-menu-expanded ul {
        margin-inline: min(calc(var(--header-height)/2), 5vw);
        height: 100%;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    } 
 
    li.mobile-nav,
    a.mobile-nav {
        opacity: 0;
    }

    #mobile-menu-expanded .links li {
        margin: 0;
    }

    #mobile-menu-open {
        opacity: 0;
        color: var(--clr-ntrl-lt);
        margin-right: min(calc(var(--header-height)/2), 5vw);
        font-size: calc(var(--header-height) * 0.7);
        transition: color 0.7s;
        position: absolute;
    }

    /* burger pseudo classes */
    #mobile-menu:hover,
    #mobile-menu-open:hover {
        color: var(--clr-tertiary);
        cursor: pointer;
    }

    #mobile-menu:active {
        color: var(--clr-primary);
        transition: color 0.1s;
        cursor: pointer;
    }

    @keyframes opacityUp {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
    @keyframes opacityDown {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

}



/* MAIN */

div.main.container {
    width: var(--max-content-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "banner"
                         "about" 
                         "skills"
                         "projects"
                         "contact";
}


/* BANNER */

section#banner {
    grid-area: banner;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    min-height: calc(100vh - var(--header-height));
    z-index: 1;
}

#banner h1,
#banner nav {
    z-index: 3;
}

#banner h1 {
    font-size: var(--fs-base);
}

#banner .hi {
    font-weight: var(--fw-p);
    position: relative;
    left: calc(var(--fs-h1)*0.03);
    bottom: calc(var(--fs-h1)*0.1);
}

nav.banner{
    margin-top: calc(var(--fs-h1)*0.6);
}

#banner ul {
    display: flex;
    margin-left: calc(var(--fs-h1)*0.05);
}

#banner .button {
    width: 10em;
    margin-right: calc(var(--button-h)/2);
    transition: color 0.8s, background-color 0.8s;
}

nav.banner,
h1.banner {
    position: relative;
    bottom: calc(var(--header-height) / 2);
}

#banner img {

    --banner-img-size: max(30vh, calc(var(--max-content-width)*0.5));


    width: var(--banner-img-size);
    max-width: 70vw;
    max-height: 80vh;
    object-fit: contain;
    opacity: var(--bg-opacity);
    position: absolute;
    left: calc(50% + var(--max-content-width)
     * 0.45 - min(70vw, var(--banner-img-size)));
    z-index: 2;
}

/* banner pseudo classes */

#banner .button:hover {
    background-color: var(--clr-tertiary);
    color: var(--clr-ntrl-lt);
}

#banner .button:active {
    background-color: var(--clr-base);
    transition: color 0.1s, background-color 0.1s;
}


/* ABOUT */

section#about {
    --icon-element-size-base: max(4rem, calc(var(--max-content-width) * 0.08));

    grid-area: about;
    display: flex;
    flex-direction: column;

}

#about h2 {
    margin-bottom: var(--fs-h2);
}

#about div.content {
    width: var(--max-content-width);
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#about article.info,
#about article.other {
    display: flex;
    flex-direction: column;
}

#about article.other {
    text-align: center;
}

#about article.info {

    margin-right: calc(var(--max-content-width)*0.05);
}

#about .info h3 {
    margin-bottom: var(--fs-h3);
}

#about .info p {
    max-width: 27em;
    text-align: justify;
    align-self: center;
}


#about .other ul,
#about .other h4 {
    opacity: 100%;
}


#about .other ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#about .other li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--icon-element-size-base);
    height: var(--icon-element-size-base);
}

#about .other li span {
    font-size: max(1.5rem, calc(var(--icon-element-size-base) * 0.4));
    margin-bottom: calc(var(--icon-element-size-base) * 0.05);
    color: var(--clr-primary);
}

#about .other li p {
    font-size: max(0.6rem, calc(var(--icon-element-size-base) * 0.15));
}


@media screen and (max-width: 52em) {

    #about div.content {
        flex-direction: column;
        justify-content: flex-start;
    }

    #about h3 {
        text-align: center;
    }

    #about article.info {
        margin-right: 0;
    }

    #about article.other {
        margin-top: var(--fs-h3);
    }
}

/* SKILLS */

section#skills {
    
    --icon-element-size-base: max(4rem, calc(var(--max-content-width) * 0.125));
    
    grid-area: skills;
    display: flex;
    flex-direction: column;

}

#skills div.skills-holder {
    width: var(--max-content-width);
    align-self: center;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

#skills div.skills-holder.learning {
    margin-top: var(--spacer-l);
}

#skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 0;
}

#skills li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--icon-element-size);
    height: var(--icon-element-size);
}

#skills div.learning {
    --icon-element-size-base: max(4rem, calc(var(--max-content-width) * 0.1));

}

#skills div.languages {
    --icon-element-size: calc(var(--icon-element-size-base) * 0.8);
}

#skills div.other {
    --icon-element-size: calc(var(--icon-element-size-base) * 0.8);
}

#skills div.learning.box {
    --icon-element-size: calc(var(--icon-element-size-base) * 0.8);

    margin-left: var(--icon-element-size);
}

#skills li i {
    font-size: max(calc(var(--icon-element-size) * 0.4), 1.5rem);
    margin-bottom: calc(var(--icon-element-size) * 0.05);
    color: var(--clr-tertiary);
}

#skills li p {
    font-size: max(calc(var(--icon-element-size) * 0.15), 0.6rem);
}

#skills h3.learning {
    margin-top: var(--fs-h3);
}

#skills div.languages {
    margin-right: var(--spacer-m);
}

#skills .languages i {
    color: var(--clr-primary);
}

#skills .other i {
    color: var(--clr-secondary);
}

#skills .learning i {
    color: var(--clr-tertiary);
}

@media screen and (max-width: 58em) {
    #skills div.skills-holder.learning {
        flex-direction: column;
    }

    #skills div.learning.box {
        margin-left: 0;
    }
}

/* PROJECTS */

section#projects {
    grid-area: projects;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects h2,
#projects h3 {
    align-self: flex-start;
}

.project-grid {
    width: var(--max-central-width);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    margin-block: calc(var(--section-padding-block) * 0.3);
}

.project-grid article {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-grid article > * {
    z-index: 3;
}

.project-grid.right article {
    grid-column: 6/11;
    align-items: flex-end;
}

#projects .project-grid.right h3 {
    align-self: flex-end;
}

.project-grid.left article {
    grid-column: 1/6;
    align-items: flex-start;
}

.project-grid div.img-container {
    grid-row: 1;
    border-radius: var(--border-radius);
}

.project-grid.right div.img-container {
    grid-column: 1/8;
    grid-row: 1;
}

.project-grid.left div.img-container {
    grid-column: 4/11;
    grid-row: 1;
}

.project-grid p.box {
    text-align: justify;
    font-size: min(var(--fs-base), 1rem);
}

.project-grid ul {
    display: flex;
    margin-block: var(--fs-s);
}

.project-grid.left li {
    margin-right: var(--spacer-s);
}

.project-grid.right li {
    margin-left: var(--spacer-s);
}

#projects .project-grid li p {
    font-size: var(--fs-s);
    color: var(--clr-tertiary);
    opacity: 99.9%; /* weird fix to issue of image hover filter change affecting this elements opacity */
}

.project-grid div.img-container {
    --column-span: 7;

    width: 100%;
    background-color: var(--clr-base-xlt);
    border-radius: var(--border-radius);
}

.project-grid i {
    font-size: var(--fs-h3);
    margin-block: var(--fs-h3);
    transition: color 0.8s;
}

.project-grid div.img {
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 80%;
    filter: grayscale(100%);
    transition: filter 1s, opacity 1.5s, border 0.2s;
}


/* height set as % of width (image resolution) */

.project1 div.img-container {
    height: calc(var(--max-central-width) * var(--column-span) / 10 * 0.563); /* width: 0.563h */
}

.project1 div.img {
    background-image: url("../images/MealPlanned.png");
}

.project2 div.img-container {
    height: calc(var(--max-central-width)* var(--column-span) / 10 * 0.563); /* width: 0.563h */
}

.project2 div.img {
    background-image: url("../images/testImage.png");
}

/* project pseudo classes */

#projects a:hover > i {
    color: var(--clr-secondary);
}

#projects a:active > i {
    color: var(--clr-primary);
    transition: color 0.1s;
}

#projects a:hover > div.img {
    opacity: 100%;
    filter: grayscale(0%);
}

#projects a:active > div.img {
    filter: saturate(110%) brightness(110%);
    transition: filter 0.2s;
}


@media screen and (max-width: 45rem) {

    #projects article,
    #projects div.img-container {
        grid-column: 1/11;
    }

    #projects div.img-container {
        height: auto;
        background-position: center;
        background-size: cover;
        background-color: var(--clr-base-lt);
        
    }

    #projects div.img {
        opacity: 3%;
    }

    #projects article {
        padding: var(--fs-s);
        align-items: flex-start;
    }

    #projects .project-grid.right article h3 {
        align-self: flex-start;
    }

    #projects .project-grid.right ul li {
        margin-left: 0;
        margin-right: var(--spacer-s);
    }

    #projects article p.box {
        padding: var(--fs-s);
        box-shadow: none;
        padding: 0;
        background-color: transparent;
    }

    #projects a:hover > div.img {
        opacity: 20%;
        filter: grayscale();
    }
}



/* CONTACT */

section#contact {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contact div.content {
    display: flex;
    width: min(var(--max-central-width), 50em);
    align-self: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#contact div.content ul {
    display: flex;
    justify-content: center;

 
}

#contact div.content a {

    --circle-size: max(calc(var(--max-central-width) * 0.08), 4rem);

    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: calc(var(--circle-size) * 0.2);
    margin-top: calc(var(--circle-size) * 0.5);
    height: var(--circle-size);
    width: var(--circle-size);
    border-radius: 50%;
    border: calc(var(--circle-size) / 50) solid var(--clr-tertiary);
    background-color: var(--clr-tertiary);
    transition: background-color 0.8s;
}


#contact div.content span {
    font-size: calc(var(--circle-size) * 0.5);
    position: relative;
    top: calc(var(--circle-size) * 0.03);
    transition: color 0.4s;
}

#contact div.content i {
    font-size: calc(var(--circle-size) * 0.4);
    position: relative;
    top: calc(var(--circle-size) * 0.02);
    transition: color 0.4s;
}


/* contact pseudo classes */

#contact div.content a:hover {
    background-color: transparent;
}

#contact div.content a:hover * {
    color: var(--clr-tertiary);
}

#contact div.content a:active {
    background-color: var(--clr-tertiary);
    transition: background-color 0.1s;
}